body {
    font-family: Arial;
    background-color: #f2f2f2;
}

form {
    background: white;
    padding: 20px;
    width: 300px;
    margin: auto;
    border-radius: 5px;
}

input, button {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
}
